/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --color-bg: #000028;
  --color-accent: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #db00ff;
  --color-text-shadow: var(--color-accent);
  --color-btn-outline: var(--color-accent);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */

  color: var(--color-text);
  background-color: var(--color-bg);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000028;
    --color-accent: #ff0070;
    --color-text: #f1b2ce;
    --color-title: #db00ff;
    --color-text-shadow: var(--color-accent);
    --color-btn-outline: var(--color-accent);
  }

  .rec-dec {
    display: block !important;
  }
} */
