/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: currentColor;
  font: inherit;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin-inline: auto;
  font-family: "IBM Plex mono", monospace;
  font-weight: 400;
  font-size: 18px;
}

header,
footer {
  min-height: 100vh;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

button {
  all: unset;
  cursor: pointer;
  line-height: 1;
  padding-inline: 13px;
  padding-block: 5px;
}

a {
  all: unset;
}
