/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-bg: #fff1f7;
  --color-accent: #ff8dcb;
  --color-text: #353430;
  --color-title: #ffc2e6;
  --color-topic-title: var(--color-text);
  --color-text-shadow: var(--color-accent);
  --color-dec-border: var(--color-text);

  --bg-header: url("../images/cover-image-light.png");
}

.theme-light .page {
  color: var(--color-text);
  background-color: var(--color-bg);

  .header__theme-menu-button {
    color: var(--color-text);
  }

  .header__theme-menu-button_active {
    border-color: var(--color-text);
  }

  .highlighted {
    color: var(--color-text);
  }

  .title {
    color: var(--color-title);
  }

  .rec-dec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff1f7;
    --color-accent: #ff8dcb;
    --color-text: #353430;
    --color-title: #ffc2e6;
    --color-topic-title: var(--color-text);
    --color-text-shadow: var(--color-accent);
    --color-dec-border: var(--color-text);

    --bg-header: url("../images/cover-image-light.png");
  }

  .rec-dec {
    display: none;
  }

  .page {
    color: var(--color-text);
    background-color: var(--color-bg);

    .header__theme-menu-button {
      color: var(--color-text);
    }

    .header__theme-menu-button_active {
      border-color: var(--color-text);
    }

    .highlighted {
      color: var(--color-text);
    }

    .title {
      color: var(--color-title);
    }
  }
}
