/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--color-text);
  background-color: var(--color-bg);
  background-attachment: fixed;

  :not(.jumbotron, .header__theme-menu-button) {
    line-height: 1.3;
  }

  > * {
    padding-inline: var(--padding);
  }
}

.rec-dec {
  --offset: 10px;
  position: absolute;
  color: var(--color-accent);
  inset-inline-end: calc(var(--padding) + 19px + var(--offset));
  inset-block-start: calc(var(--padding) + var(--offset) / 2);

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px currentColor;
    margin-inline-start: 10px;
    inset-block-start: 50%;
    transform: translateY(-50%);
    background-color: currentColor;
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: var(--bg-header);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-block-end: var(--blocks-margin);

  .jumbotron {
    position: relative;
    align-self: center;
    justify-self: start;
  }

  .header__theme-menu {
    margin-block-start: 55px;
    justify-self: end;
  }

  .header-title {
    position: relative;
    transform: translateY(60px);
    align-self: start;
    justify-self: end;
    width: 100%;
    max-width: 380px;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 10px;
  }
}

.header__theme-menu-button {
  color: var(--color-accent);
  border: 1px solid transparent;

  &:hover {
    border-color: rgb(from currentColor r g b / 0.4);
  }

  &:focus-visible {
    border-color: transparent;
    border-bottom-color: currentColor;
  }
}

.header__theme-menu-button_active {
  border-color: var(--color-btn-outline);
}

.topic {
  gap: 20px;
  margin-block-end: var(--topics-mb);

  &:nth-child(odd) {
    display: grid;
  }

  &:nth-child(2) .topic-title {
    margin-block-end: 20px;
  }
}

.topic-title {
  color: var(--color-topic-title);
}

.tips-list {
  display: grid;
  gap: 20px;
}

.tip-title {
  margin-block-end: 10px;

  &.outlier {
    margin-block-start: 20px;
  }
}

.link {
  text-shadow: 2px 2px var(--color-text-shadow);
  padding-inline: 2px;
  border: 1px solid transparent;

  &:hover {
    border-bottom-color: currentColor;
  }

  &:focus-visible {
    border-color: currentColor;
  }
}

.jumbotron {
  text-shadow: 4px 4px 0 var(--color-accent);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--color-title);
  line-height: 0.9;
}

.bold {
  font-weight: 700;
}

.highlighted {
  color: var(--color-bg);
  background-color: var(--color-accent);
}

.images-list {
  display: grid;
  gap: 10px;
}

.images-title {
  margin-block-end: 10px;
}

.footer {
  margin-block-start: var(--blocks-margin);
  display: grid;
  place-content: center;
}

.decorated-zone {
  position: relative;
  padding-block: var(--padding);

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: var(--dec-size);
    aspect-ratio: 1;
    border: 1px solid transparent;
    border-top-color: var(--color-dec-border);
    border-right-color: var(--color-dec-border);
    inset: var(--padding) calc(100% - var(--dec-size) - var(--padding));
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: var(--dec-size);
    aspect-ratio: 1;
    border: 1px solid transparent;
    border-bottom-color: var(--color-dec-border);
    border-left-color: var(--color-dec-border);
    inset: calc(100% - var(--dec-size) - var(--padding)) var(--padding);
  }
}

@media (width >= 768px) {
  .header {
    .jumbotron {
      transform: translateX(-20px);
    }
  }

  .topic {
    grid-template-columns: 1fr 2fr;
  }

  .images-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
    gap: 20px;

    .sunset-image {
      grid-area: sunset;
    }

    .icecream-image {
      grid-area: icecream;
    }

    .tape-image {
      grid-area: tape;
    }

    .books-image {
      grid-area: books;
    }

    .street-image {
      grid-area: street;
    }
  }

  .images-title {
    margin-block-end: 20px;
  }

  .topic:nth-child(2) .topic-title {
    max-width: 15ch;
  }
}

@media (width >= 768px) and (width < 1024px) {
  :root {
    --blocks-margin: 60px;
  }
  .header {
    .header-title {
      transform: translateY(48px) translateX(-40px);
      box-shadow: 40px 0 var(--color-accent);
      max-width: 30ch;
    }
  }
}

@media (width >= 1024px) {
  .jumbotron {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    .header-title {
      max-width: 490px;
    }

    .header__theme-menu {
      margin-block-start: -5px;
      justify-self: center;
    }

    .header__theme-menu-list {
      grid-auto-flow: column;
    }
  }

  .topic:nth-child(2) {
    .topic-title {
      max-width: 30ch;
    }
    .tips-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
