:root {
  --color-bg: #000028;
  --color-accent: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #db00ff;
  --color-text-shadow: var(--color-accent);
  --color-btn-outline: var(--color-accent);
  --color-dec-border: var(--color-accent);

  --lh-title: 1.3;
  --padding: 10px;
  --dec-size: 35px;
  --topics-mb: 50px;
  --blocks-margin: 40px;

  --bg-header: url("../images/cover-image-dark.png");
}

@media (width >= 768px) {
  :root {
    --padding: 20px;
    --topics-mb: 80px;
  }
}

@media (width >= 1024px) {
  :root {
    --blocks-margin: 60px;
  }
}
